extends ./layout.jade

block content
  .container
    .starter-div
      h1= title
      .row(data-ng-controller='priceController')
        .col-xs-3
          input.form-control(data-ng-model='yourPrice')
          hr
          p A te 치rad: {{calcOwnPrice(yourPrice) | currencyFilter}}
          p M치s 치ra: {{calcOtherPrice(yourPrice) | currencyFilter}}
          p Teljes 치r: {{yourPrice | currencyFilter}}
      .row(data-ng-controller='userController')
        .col-xs-12
          p {{yourPrice}}
          table(class='table table-condensed')
            thead
              tr
                th(data-ng-repeat='th in ths') {{th}}
            tbody
              tr(data-ng-repeat='row in users')
                td {{row._id}}
                td {{row.name}}
                td {{row.email}}
                td {{row.phone}}
