extends ./layout.jade

block content
  .container
    .starter-template
      h1= title
      .row(data-ng-controller='priceController')
        .col-xs-3
          input.form-control(data-ng-model='yourPrice')
          hr
          p A te 치rad: {{calcOwnPrice(yourPrice) | currencyFilter}}
          p M치s 치ra: {{calcOtherPrice(yourPrice) | currencyFilter}}
          p Teljes 치r: {{yourPrice | currencyFilter}}
      .row(data-ng-controller='userController')
        .col-xs-3
          p {{yourPrice}}



      ul
        each user in users
          li #{user.id}: #{user.name} - #{user.email}
